alembic==1.5.8
atomicwrites==1.4.0
attrs==20.3.0
banal==1.0.6
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
dataset==1.5.0
Flask==1.1.2
greenlet==1.0.0
httpie==2.4.0
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
Pygments==2.8.1
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.2
python-dateutil==2.8.1
python-editor==1.0.4
requests==2.25.1
requests-toolbelt==0.9.1
six==1.15.0
SQLAlchemy==1.4.11
toml==0.10.2
urllib3==1.26.4
Werkzeug==1.0.1
